* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}


header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: transparent;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0,0,0,0);
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}
.logo{
    display: flex;
    user-select: none;
}


.logo img{
    width: 50px;
    height: auto;
}

.navg a{
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
    display: inline-block;
}
.navg .navbtn{
    width: 130px;
    height: 50px;
    background: transparent;
    border-radius: 8px;
    border: 2px solid #fff;
    outline: none;
    cursor: pointer;
    font-size: 1.1em ;
    color:#fff;
    font-weight: 500;
    margin-left: 40px;
    padding-right: 35px;
}

.navbtn:hover{
    border: 1px solid #fff;
    background: rgb(156, 191, 245);
    transition: 1s;
}



.navg a::after{
    content: '';
    width: 0%;
    height: 2px;
    background: white;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.navg a:hover::after{
    width: 100%;

}

.heading{
    min-height: 50vh ;
    width: 100%;
    background-image: url(https://i.pinimg.com/736x/9a/87/72/9a87722dd000aea68f6fa73bfecd2cee.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    padding-top: 150px;
    padding-left: 20px;
    
}


.txt{
    width: 90%;
    color:#fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;

}
.txt h2{
    font-size: 45px;  
    text-shadow: 10px 10px 20px black;
}


.txt p{

    margin: 10px 0 40px;
    font-size: 25px;
    counter-reset: #fff;
}

body{
    background-color: #bdc4d4;
    
}

.button a{
    display: inline-block;
    padding: 12px 10px;
    margin: 10px;
    text-decoration: none;
    background-color: #4f33f0;
    color: wheat;
    border-radius: 8px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
    

}

.button a:hover{
    background-color:#9eb0be;
    color:#4f33f0 ;
}

.image{
    width: 300px;
    height: 200px;
    border-radius: 8px;
    margin-bottom: 20px;
    margin-top: 15px;
    
}

.mainList {
    margin-top: 30px;
    margin-left: 40px;
    columns: 2;
    column-gap: 10%;
    display:inline-flexbox;
}

ul{
    margin-left: 20px;
}

.quistion{
    margin-left: 20px;
}

.checklist{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    margin-left: 40px;
}

.button2 a{
    display: inline-block;
    padding: 12px 10px;
    margin: 10px;
    text-decoration: none;
    background-color: #4f33f0;
    color: aliceblue;
    border-radius: 8px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
}
 .button2{
    margin-inline-start: 10%;
 }

